

#home_bg{
   background-image:url(../../photo/forHom.jpeg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    width:100% !important;
    height:1000px !important; 
    background-color: #3f51b500 !important;
   

}


#home_bgMore{
    background-image:url(../../photo/ForMore.jpg) ;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover; 
     width:100% !important;
     height:1000px !important; 
     background-color: #3f51b500 !important;
   
 
 }

#formation{
    margin-top: -30px !important;
    background-color: rgb(87 83 97) !important;
    margin-bottom: -30px !important;
}
#profile{
    background-image:url(../../photo/forProfile.png) ;
    /* background-size: cover;
     width: "100%";
     height: "100%"; */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover; 
     width:100% !important;
     height:1000px !important; 
     background-color: #3f51b500 !important;
    
 
 }
#searchOne{
  
    width:20% !important;
    height:20px !important;
    background-color: #3f51b5f1 !important;

}


#logIn_bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100% !important;
    height:800px !important;
    display: flex !important;
    margin: auto !important;
    background-color: #3f51b500 !important;
}

#forLogIn{
    /* margin-left: -1 !important; */
    width: 42% !important;
    height: 800px !important;
    background-color: #bacfdd9e!important;
}

#logoIn{
    background-size: cover;
    width:50% !important;
    height:180px !important;
    background-color: #424b7e00 !important; 
    margin-bottom: 20px;
    margin-top: 20px;
    
}

#forbutton{
   background-color: rgb(17, 3, 66) !important;
   font-size: medium;
}

#forbuttonn{
    background-color: rgb(17, 3, 66) !important;
    font-size: medium;
    width: 40% !important;
    height: 55px !important;
    /* margin-left: 70px; */
 }





.MuiFormControl-root{
    /* margin-left: 20% !important; */
    width: 60% !important;
    height: 55px !important;
}

#forTextArea{
    width: 60% !important;
    height: 55px !important;
    background-color: #bacfdd9e!important;
    font-size: large;
    font-weight: 500;
}

#forget{
    color: rgb(51, 47, 47);
    margin-top: 8px !important;
    margin-left: -30px !important;
}

#sign{
    color: rgb(31, 4, 75) !important;
    font-size: medium !important;
    margin-top: 8px !important;
   
}

#h5{
    color: rgb(26, 4, 61);
  
}



#logoSi{
    background-size: cover;
    width:30% !important;
    height:140px !important;
    background-color: #424b7e00 !important; 
    margin-bottom: 20px;
    margin-top: 20px;
    
    
}

.radio1{
  /* margin-left: -150px; */
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}
.radio2{
    
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }

#lab{
    /* margin-left: -100px; */
    font-size:23px;
    font-weight: 400;
    color:  rgba(51, 47, 47, 0.89);;
}

#Add{
   
    width: 90% !important;
    height: 700px !important;
    background-color: #bacfdd9e!important;
    display:flex;
    flex-direction: column;
    margin: 25px auto;
}
#Add1{
   
    width: 80% !important;
    height: 700px !important;
    display:flex;
    flex-direction: row;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center !important;
    align-content: center !important;

}

#Add2{
   
    width: 70%!important;
    height: 500px !important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-items: center !important;
  
}
#logoAdd{
    background-size: cover;
    width:18% !important;
    height:160px !important;
    background-color: #424b7e00 !important; 
    /* margin-bottom: 20px; */
    margin-top: 18px;
    
}




.custom-file-input{
    position: relative;
    z-index: 2;
    width: 1%;
    
    height:10px;
    margin: 0;
    opacity: 0;

}

 input {
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.wellcom{
    font-size: 40px !important;
    font-weight: 500 !important;
    text-align: center !important;
    color: rgba(249, 245, 253, 0.719) !important;
    font-family:serif !important;
  
    
  }

  .wellcom1{
    font-size: 40px !important;
    font-weight: 500 !important;
    text-align: center !important;
    color: rgb(255, 255, 255) !important;
    font-family:serif !important;
  
    
  }

  #cardsPage{
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    margin: auto !important;
    justify-content: center !important;
    margin-right: 30px !important;
    margin-left: 30px !important;
  
  }

  #cPage{
  text-align: center !important;
  justify-content: center !important;
  margin-top: 30px !important;

  }


  #cards{
    display: flex !important;
    flex-direction: column !important;
    margin: auto !important;
  }

  #username{
      color: rgb(4, 4, 34);
  }

  
  #forUser{
    color: rgb(4, 4, 34);
    margin-left: -800px  !important;
}


 /* .MuiInputBase-root {
    margin-left: 20% !important;
    width: 60% !important;
    height: 55px !important;
    display: revert !important;
}  */