#home_bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100% !important;
    height:1000px !important;
    background-color: #3f51b500 !important;
}

