#nav{
    z-index: 1 !important;
    position: fixed !important;
    background-color: rgba(255, 255, 255, 0) !important;
}

.MuiAppBar-colorPrimary{
    background-color: rgba(51, 105, 255, 0) !important;
}


#logo{
    background-size: cover;
    width:15% !important;
    height:140px !important;
    background-color: #3f51b500 !important; 
    margin-bottom: 20px;
    margin-top: 20px;
     margin-left: 10px;
}

 /* #forNav{
  background-color: #3235496c !important; 
  
}  */


#forh{
    background-color: rgb(87 83 97) !important;

}

#forbtnH{
    margin-left:15px !important;
    font-variant: small-caps, bold!important;
    font-size: 19px !important;
    font-family: "Times New Roman", Times, serif  !important;
    font-weight: 1000 !important;
    text-align: center !important;

}

#forbtnH:hover{
    background-color: rgba(27, 75, 117, 0.973) !important; 
}

#forAdd{
    margin-left: 18px !important;
    font-variant: small-caps, bold!important;
    font-size: medium !important;
    font-family: "Times New Roman", Times, serif  !important;
    font-weight: 100 !important;
    text-align: center !important;
    background-color:  rgba(8, 41, 70, 0.973) !important;
    border-radius: 20px !important;
}
#forAdd:hover{
    background-color: rgba(27, 75, 117, 0.973) !important; 
}
#forLogin{
    margin-left: 20px !important;
    font-variant: small-caps, bold!important;
    font-size: medium !important;
    font-family: "Times New Roman", Times, serif  !important;
    font-weight: 500 !important;
    text-align: center !important;
 
    background-color:  rgba(8, 41, 70, 0.973) !important;
    border-radius: 25px !important;
}

#forLogin:hover{
    background-color: rgba(27, 75, 117, 0.973) !important; 
}
#forLogout{
    margin-left: 10px !important;
    font-variant: small-caps, bold!important;
    font-size: small !important;
    font-family: "Times New Roman", Times, serif  !important;
    font-weight: 200 !important;
    text-align: center !important;
    background-color:  rgba(8, 41, 70, 0.973) !important;
    border-radius: 25px !important;
}
#forLogout:hover{
    background-color: rgba(27, 75, 117, 0.973) !important; 
}

#forAcc{
   
    margin-left: 10px !important;
    font-variant: small-caps, bold!important;
    font-size: large !important;
    font-family: "Times New Roman", Times, serif  !important;
    font-weight: 200 !important;
    text-align: center !important;
}
#acc{
   color: rgba(8, 41, 70, 0.973) !important; 
   
}

#foricon{
    font-size: 65px !important;
}
 #acc:hover{
    color: rgba(27, 75, 117, 0.973) !important;   
 }
.page-footer{
    z-index: 1 !important;
    margin-top: -1px !important;
    background-color:  rgba(8, 41, 70, 0.973) !important;
    color: white !important;
    
} 

.fot{
    
    margin-top: 50px !important;

}

.title{
    display: flex;
    margin-left: 24px !important;
    margin-top: -70px !important;
}

#rootDiv{
    display:  100px flex;
    margin-right: 30px !important;
    margin-bottom: 1.8rem;
}

#cardd{
    opacity: 0.6 !important;
    position: relative;
    text-align: center;
    color: white;
}

#cardd:hover{
    opacity: 1 !important;
}



#textt{
    opacity: 1 !important;
    background-size: cover !important;
   
}

#ccard{
width: 400px !important;
background-color: #2b273363 !important;
height: 320px !important;
}

#textforT:hover{
    background-color: #25222c85 !important;
    background-size: cover !important;
}
#textforT{
    position:absolute;
    top: 8px ;
    text-align:center;
    font-size: x-large !important;
    font-weight: 900;
    color:#f6f9f2;
    /* background-color: #362b5263 !important; */
    border-radius:16px ;
    
}
#textforL:hover{
    background-color: #25222c85 !important;
    background-size: cover !important;
}

#textforL{
    position: absolute;
  bottom: 40px;
  left: 16px;
    text-align:center;
    font-size:30px !important;
    font-weight: 900;
    color:#f6f9f2;
    /* background-color: #362b5263 !important; */
    border-radius:16px ;
    
}
#textforis:hover{
    background-color: #25222c85 !important;
    background-size: cover !important;
}
#textforis{
    position: absolute;
    bottom: 100px;
    left: 16px;
    text-align:center;
    font-size:30px !important;
    font-weight: 900;
    color:#f6f9f2;
    /* background-color: #362b5263 !important; */
    border-radius:16px !important ;
    
}
#textforB:hover{
    background-color: #110333 !important;
}
#textforB{
    
    position: absolute;
  bottom: 50px;
  right: 16px;
    text-align:center;
    font: size 20px !important;
    font-weight:1000 px !important ;
    color:#f6f9f2;
    background-color: #362b52 !important;
    border-radius:16px  !important;
    
}